{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        Услуги <span class="badge">{{ services|length }}</span>
    </h1>

    {{ include('admin/partials/help_section.html.twig', {'text': help, 'title': "Услуги"}) }}
    <a href="{{ path('admin_new_service') }}" id="new_entity_link" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить новую
    </a>

    <div class="list-group">
        {% for service in services %}
            {% set title = service.title %}
            {% set slug = service.slug %}
            <div class="list-group-item">
                <h2 class="h3 entity_header">
                    {{ title }}
                </h2>
                <div class="entity_body row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ vich_uploader_asset(service.photo, 'file') }}">
                    </div>
                    <div class="col-sm-6 col-md-8 text-right">
                        <a href="{{ path('admin_show_service', { 'slug': slug }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            Просмотр
                        </a>
                        <a href="{{ path('admin_delete_service', { 'slug': slug }) }}"class="btn btn-danger" data-confirm='Удалить "{{ title }}"?'>
                            <span class="glyphicon glyphicon-trash"></span>
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
