<div class="modal fade" id="call_form" tabindex="-1" role="dialog" aria-labelledby="Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Вызвать замерщика</h3>
                <p>Оставьте онлайн заявку на вызов специалиста</p>
            </div>
            {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.phoneNumber) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.comment) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Отмена
                    </button>
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
