<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="footer_heading">
                    <small><strong>КОМПАНИЯ</strong></small>
                </div>
                <ul>
                    {% for title, link in company %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_heading">
                    <small><strong>УСЛУГИ</strong></small>
                </div>
                <ul>
                    {% for service in services %}
                    <li><a href="{{ path('show_service', { 'slug': service.slug }) }}">{{ service.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_heading">
                    <small><strong>ВЫПОЛНЕННЫЕ РАБОТЫ</strong></small>
                </div>
                <ul>
                    {% for work in works %}
                    <li><a href="{{ path('show_work', { 'slug': work.slug }) }}">{{ work.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer_heading">
                    <small><strong>КОНТАКТЫ</strong></small>
                </div>
                <div id="footer_email">
                    {% for contact in email_contacts %}
                    {% set email_address = contact.href %}
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:{{ email_address }}" title="{{ contact.title }}">{{ email_address }}</a>
                    <br>
                    {% endfor %}
                </div>
                <hr>
                <div id="social_links">
                    {% for contact in social_contacts %}
                    <a class="social_contact" href="{{ contact.href }}" title="{{ contact.title }}" target="_blank">
                        {% if contact.socialName %}
                            <i class="fa fa-lg fa-{{ contact.socialName }}"></i>
                        {% else %}
                            {{ contact.title }}
                        {% endif %}
                    </a> 
                    {% endfor %}
                </div>
                <hr>
                {% for contact in real_contacts %}
                <ul class="contact">
                    <li>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ contact.address }}
                    </li>
                    <li>
                        <a href="tel:{{ contact.mainPhone }}" data-rel="external">
                            <span class="glyphicon glyphicon-earphone"></span>
                            {{ contact.mainPhone }}
                        </a>
                    </li>
                    {% if contact.additionalPhone %}
                        <li>
                            <a href="tel:{{ contact.additionalPhone }}" data-rel="external">
                                <span class="glyphicon glyphicon-phone"></span>
                                {{ contact.additionalPhone }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div id="counters" class="row">
            <div class="col-xs-6 text-center">
				<!-- Yandex.Metrika informer -->
				<a href="https://metrika.yandex.ru/stat/?id=42410004&amp;from=informer"
				target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/42410004/3_0_535353FF_333333FF_1_pageviews"
				style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="42410004" data-lang="ru" /></a>
				<!-- /Yandex.Metrika informer -->

				<!-- Yandex.Metrika counter -->
				<script type="text/javascript">
					(function (d, w, c) {
						(w[c] = w[c] || []).push(function() {
							try {
								w.yaCounter42410004 = new Ya.Metrika({
									id:42410004,
									clickmap:true,
									trackLinks:true,
									accurateTrackBounce:true
								});
							} catch(e) { }
						});

						var n = d.getElementsByTagName("script")[0],
							s = d.createElement("script"),
							f = function () { n.parentNode.insertBefore(s, n); };
						s.type = "text/javascript";
						s.async = true;
						s.src = "https://mc.yandex.ru/metrika/watch.js";

						if (w.opera == "[object Opera]") {
							d.addEventListener("DOMContentLoaded", f, false);
						} else { f(); }
					})(document, window, "yandex_metrika_callbacks");
				</script>
				<noscript><div><img src="https://mc.yandex.ru/watch/42410004" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
				<!-- /Yandex.Metrika counter -->
                <!-- Google Analytics -->
                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-91377608-1', 'auto');
                  ga('send', 'pageview');

                </script>
                <!-- /Google Analytics -->
            </div>
            <div class="col-xs-6 text-center">
                <a href="http://makkuzin.name" title="Разработка сайта" target="_blank">
                    <span class="fa fa-2x fa-terminal"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
