<section class="subsection container">
    <div class="heading">
        <h2 class="h2">{{ section.title }}</h2>
        <div class="divider"></div>
    </div>
    {% if section.description %}
        {% set params = { 'section': section, 'class': cycle(['photo_right', 'photo_left'], section.id) } %}
        {% if section.photos|length == 1 %}
            {{ include('partials/thumbnail_photo.html.twig', params) }}
        {% elseif section.photos|length > 1 %}
            {{ include('partials/carousel_photos.html.twig', params) }}
        {% endif %}
        {{ section.description|md2html }}
    {% else %}
        {% set params = { 'section': section, 'class': "" } %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if section.photos|length == 1 %}
                    {{ include('partials/thumbnail_photo.html.twig', params) }}
                {% elseif section.photos|length > 1 %}
                    {{ include('partials/carousel_photos.html.twig', params) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</section>
