<section class="subsection container">
    <div class="heading">
        <h2 class="h2">{{ section.title }}</h1>
        <div class="divider"></div>
    </div>
    {% if section.photos|length > 0 %}
        <div class="thumbnail {{ cycle(['photo_right', 'photo_left'], section.id) }}">
            {% for photo in section.photos %}
                <img src="{{ vich_uploader_asset(photo, 'file') }}">
                {% if photo.title or photo.description %}
                    <div class="caption">
                        <h3>{{ photo.title }}</h3>
                        <p>{{ photo.description }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {{ section.description|md2html }}
</section>
