<section class="subsection container">
    <div class="heading">
        <h1 class="h2">{{ section.title }}</h1>
        <div class="divider"></div>
    </div>
    {% if section.photos|length > 0 %}
        <div class="thumbnail {{ cycle(['photo_right', 'photo_left'], section.id) }}">
            {% for photo in section.photos %}
                <img src="{{ vich_uploader_asset(photo, 'file') }}" alt="{{ photo.title }}">
                <div class="caption">
                    <h3>{{ photo.title }}</h3>
                    <p>{{ photo.description }}</p>
                </div>
            {% endfor %}
        </div>
        <p>{{ section.description }}</p>
    {% else %}
        <p>{{ section.description }}</p>
    {% endif %}
</section>
