{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        {{ category.title }}
        <a id="edit_category_link" class="btn btn-default pull-right edit_link" href="#" title="Редактировать">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </h1>

    <div id="edit_category_form">
    </div>

    {% for section in category.sections %}
        {% set sectionId = section.id %}
        <div class="text-right">
            <a id="edit_section_link_{{ sectionId }}" class="btn btn-default edit_link" href="#" title="Редактировать">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a id="delete_section_link_{{ sectionId }}" class="btn btn-danger" data-confirm-remote='Удалить "{{ section.title }}"?' href="#" title="Удалить">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
        <div id="show_section_{{ sectionId }}">
            {{ include('partials/section.html.twig', { 'section': section }) }}
            <hr>
        </div>

        <div id="edit_section_form_{{ sectionId }}" class="edit_section_form">
        </div>
    {% endfor %}

    <div id="new_section_forms">
    </div>

    <div class="text-right">
        <a id="new_section_link" class="btn btn-primary btn-lg" href="#">
            <span class="glyphicon glyphicon-plus"></span>
            Новый абзац
        </a>
    </div>

    <button id="global_submit" class="btn btn-primary btn-lg">
        Подтвердить изменения
    </button>
{% endblock %}

{% block stylesheets %}
<style>
    #edit_category_form, .edit_section_form, #global_submit {
        display: none;
    }

    button[type="submit"] {
      display: none;
    }

    #global_submit {
        position: fixed;
        bottom: 10px;
        left: 20px;
    }
</style>
{% endblock %}

{% block javascripts %}
<script>
    var toggleTime = 300;

    $('#edit_category_link').on('click', function(e) {
        e.preventDefault();
        $.ajax({url: "{{ path('admin_edit_category', { 'type': category.type, 'slug': category.slug }) }}",
            success: function(result) {
                $('#edit_category_form').html(result).slideDown(toggleTime);
        }});
    });

    {% for section in category.sections %}
        {% set sectionId = section.id %}
        $('#edit_section_link_{{ sectionId }}').on('click', function(e) {
            e.preventDefault();
            $.ajax({url: "{{ path('admin_edit_section', { 'id': sectionId }) }}",
                success: function(result) {
                    $('#show_section_{{ sectionId }}').slideUp(toggleTime);
                    $('#edit_section_form_{{ sectionId }}').html(result).slideDown(toggleTime);
                }, error: function(error) {
                    alert(error.error);
                } });
        });
        $('#delete_section_link_{{ sectionId }}').on('click', function(e) {
            e.preventDefault();
            var confirmation = confirm($(this).data('confirm-remote'));
            if (confirmation == true) {
                var link = $(this);
                $.ajax({url: "{{ path('admin_delete_section', { 'id': sectionId }) }}",
                    success: function(result) {
                        $('#global_submit').css('display', 'none');
                        link.parent().remove();
                        $('#edit_section_form_{{ sectionId }}').remove();
                        $('#show_section_{{ sectionId }}').html(result).css('display', 'block');
                    }, error: function(error) {
                        alert(error.error);
                    } });
            }
        });
    {% endfor %}

    $('#new_section_link').on('click', function(e) {
        e.preventDefault();
        $('#global_submit').css('display', 'block');
        $.ajax({url: "{{ path('admin_new_section', {'slug': category.slug }) }}",
            success: function(result) {
                $('#new_section_forms').append(result);
            }, error: function(error) {
                alert(error.error);
            } });
    });

    $('.edit_link').on('click', function() {
        $('#global_submit').css('display', 'block');
    });

    $('#global_submit').on('click', function() {
        $('form').submit();
    });
</script>
{% endblock %}
