<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Студия Буржуа{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% stylesheets '@AppBundle/Resources/styles/*.scss' filter='sass' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        {% javascripts '@AppBundle/Resources/js/*.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">
                            <img src="{{ asset('images/logo.jpg') }}" alt="Студия Буржуа">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="header_menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="/" class="header_link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <small>УСЛУГИ</small>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('show_service', {'slug': 'ремонт-квартир-и-ванных-комнат'}) }}">Ремонт квартир и ванных комнат</a></li>
                                    <li><a href="{{ path('show_service', {'slug': 'ремонт-офисов'}) }}">Ремонт офисов</a></li>
                                    <li><a href="{{ path('show_service', {'slug': 'частичный-ремонт'}) }}">Частичный ремонт</a></li>
                                    <li><a href="{{ path('show_service', {'slug': 'продажа-материалов'}) }}">Продажа материалов</a></li>
                                    <li><a href="{{ path('show_service', {'slug': 'утепление-помещений'}) }}">Утепление помещений</a></li>
                                    <li><a href="{{ path('show_service', {'slug': 'строительство'}) }}">Строительство</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/" class="header_link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <small>ВЫПОЛНЕННЫЕ РАБОТЫ</small>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('show_work', {'slug': 'ванные-комнаты'}) }}">Ванные комнаты</a></li>
                                    <li><a href="{{ path('show_work', {'slug': 'квартиры'}) }}">Квартиры</a></li>
                                    <li><a href="{{ path('show_work', {'slug': 'нежилые-помещения'}) }}">Нежилые помещения</a></li>
                                    <li><a href="{{ path('show_work', {'slug': 'дизайн-проекты'}) }}">Дизайн проекты</a></li>
                                    <li><a href="{{ path('show_work', {'slug': 'бани-сауны'}) }}">Бани, сауны</a></li>
                                    <li><a href="{{ path('show_work', {'slug': 'коттеджи'}) }}">Коттеджи</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('contacts') }}" class="header_link">
                                <small>КОНТАКТЫ</small>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">{% block main %}{% endblock %}</main>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer_heading">
                            <small><strong>КОМПАНИЯ</strong></small>
                        </div>
                        <ul>
                            <li><a href="{{ path('aboutpage') }}">О компании</a></li>
                            <li><a href="{{ path('prices') }}">Цены</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer_heading">
                            <small><strong>УСЛУГИ</strong></small>
                        </div>
                        <ul>
                            <li><a href="#">Ремонт квартир и ванных комнат</a></li>
                            <li><a href="#">Ремонт офисов</a></li>
                            <li><a href="#">Частичный ремонт</a></li>
                            <li><a href="#">Продажи материалов</a></li>
                            <li><a href="#">Утепление помещений</a></li>
                            <li><a href="#">Строительство</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer_heading">
                            <small><strong>ВЫПОЛНЕННЫЕ РАБОТЫ</strong></small>
                        </div>
                        <ul>
                            <li><a href="#">Ванные комнаты</a></li>
                            <li><a href="#">Квартиры</a></li>
                            <li><a href="#">Нежилые помещения</a></li>
                            <li><a href="#">Дизайн проекты</a></li>
                            <li><a href="#">Бани, сауны</a></li>
                            <li><a href="#">Коттеджи</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer_heading">
                            <small><strong>КОНТАКТЫ</strong></small>
                        </div>
                        <div id="footer_email">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <a href="mailto:your@email.com">your@email.com</a>
                        </div>
                        <br>
                        <div id="social_links">
                            <a onclick="alert('First')">
                                <span class="glyphicon glyphicon-cloud"></span>
                            </a>
                            <a onclick="alert('Second')">
                                <span class="glyphicon glyphicon-cloud"></span>
                            </a>
                            <a onclick="alert('Third')">
                                <span class="glyphicon glyphicon-cloud"></span>
                            </a>
                            <a onclick="alert('Fourth')">
                                <span class="glyphicon glyphicon-cloud"></span>
                            </a>
                        </div>
                        <ul class="contact">
                            <li>
                                <span class="glyphicon glyphicon-road"></span>
                                г. Дзержинск, ул. Грибоедова 22/11
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-earphone"></span>
                                +7 (8313) 23-46-46
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-phone"></span>
                                +7 (904) 782-65-46
                            </li>
                        </ul>
                        <ul class="contact">
                            <li>
                                <span class="glyphicon glyphicon-road"></span>
                                г. Нижний Новгород, пр. Бусыгина 42
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-earphone"></span>
                                +7 (831) 230-36-36
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-phone"></span>
                                +7 (902) 306-46-36
                            </li>
                        </ul>
                    </div>
                </div>
                <hr/>
                <div id="copyright" class="row">
                    <div class="col-xs-12">
                        <p class="text-center">&copy; 2000 - 2016, Студия Буржуа</p>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
