{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        Портфолио <span class="badge">{{ works|length }}</span>
    </h1>

    {{ include('admin/partials/help_section.html.twig', {'text': help, 'title': "Портфолио"}) }}
    <a href="{{ path('admin_new_work') }}" id="new_entity_link" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить работу
    </a>

    <div class="list-group">
        {% for work in works %}
            {% set title = work.title %}
            {% set slug = work.slug %}
            <div class="list-group-item">
                <h2 class="h3 entity_header">
                    {{ title }}
                </h2>
                <div class="entity_body row">
                    <div class="col-md-6">
                        <img src="{{ vich_uploader_asset(work.photo, 'file') }}">
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{ path('admin_show_work', { 'slug': slug }) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            Просмотр
                        </a>
                        <a href="{{ path('admin_delete_work', { 'slug': slug }) }}"class="btn btn-danger" data-confirm='Удалить "{{ title }}"?'>
                            <span class="glyphicon glyphicon-trash"></span>
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
