{% extends 'base.html.twig' %}

{% block description %}{{ title }}. {{ parent() }}{% endblock %}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block main %}
<div id="page_header">
    <h1>{{ title }}</h1>
</div>

<section id="contacts" class="container">
    <div id="real_contacts" class="row">
        {% for contact in real_contacts %}
        <div class="contact col-md-6">
            <div class="thumbnail">
                <div class="contact_map" id="map_{{ contact.id }}"></div>
                <div class="contact_info caption">
                    <h2 class="h3">{{ contact.title }}</h2>
                    <h3 class="h4">Адрес:
                        <small>{{ contact.address }}</small>
                    </h3>
                    <h3 class="h4">Тел.:
                        <a href="tel:{{ contact.mainPhone }}" data-rel="external">
                            <small>{{ contact.mainPhone }}</small>
                        </a>
                        {% if contact.additionalPhone %} ,
                            <a href="tel:{{ contact.additionalPhone }}" data-rel="external">
                                <small>{{ contact.additionalPhone }}</small>
                            </a>
                        {% endif %}
                    </h3>
                    <h3 class="h4">Часы работы:
                        <small>{{ contact.workTime }}</small>
                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="internet_contacts" class="row">
        {% if email_contacts|length > 0 %}
        <div class="contact col-md-6">
            <div class="thumbnail">
                <h2 class="h3">Электронная почта</h2>
                <div class="caption">
                    {% for contact in email_contacts %}
                        {% set email_address = contact.href %}
                        <h3 class="h4">
                            <a href="mailto:{{ email_address }}" title="{{ contact.title }}">{{ email_address }}</a>
                        </h3>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if social_contacts|length > 0 %}
        <div class="contact col-md-6">
            <div class="thumbnail">
                <h2 class="h3">Социальные сети</h2>
                <div class="caption">
                    <h3 class="h4">
                        {% for contact in social_contacts %}
                            <a class="social_contact" href="{{ contact.href }}" title="{{ contact.title }}" target="_blank">
                                {% if contact.socialName %}
                                    <i class="fa fa-2x fa-{{ contact.socialName }}"></i>
                                {% else %}
                                    {{ contact.title }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </h3>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
    ymaps.ready(function() {
        var zoomLevel = 17;
        var hint = "Студия \"Буржуа\"";
        var baloon = "<h4>Студия \"Буржуа\"</h4><p>Ремонт квартир и ванных комнат, отделочные работы</p>";
        var map, coordinates, placemark;

        {% for contact in real_contacts %}
            coordinates = [{{ contact.latitude }}, {{ contact.longitude }}];
            map = new ymaps.Map("map_{{ contact.id }}", {
                center: coordinates,
                zoom: zoomLevel
            });
            placemark = new ymaps.Placemark(coordinates, {
                hintContent: hint,
                balloonContent: baloon
            }, {
                preset: 'islands#redGlyphIcon',
            });
            map.geoObjects.add(placemark);
            map.behaviors.disable('scrollZoom');
        {% endfor %}
    });
</script>
{% endblock %}
