{% extends 'base.html.twig' %}

{% block description %}
{% if about.photo %}
{{ about.photo.title }} - {{ about.photo.description }}
{% endif %}
{% endblock %}

{% block main %}
<section id="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                {% if about.photo %}
                    <h1>{{ about.photo.title }}</h1>
                    <h3 class="h4">{{ about.photo.description }}</h3>
                {% else %}
                    <h1>Студия Буржуа</h1>
                    <h3 class="h4">Мы предлагаем услуги, включающие в себя все работы по частичному ремонту и ремонту "под ключ"</h3>
                {% endif %}
                <div class="row">
                    <div class="col-sm-4">
                        <span class="fa fa-2x fa-ruble"></span>
                        <h3 class="h4">Укладываемся в бюджет</h3>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-2x fa-calculator"></span>
                        <h3 class="h4">Детальная смета в день обращения</h3>
                    </div>
                    <div class="col-sm-4">
                        <span class="fa fa-2x fa-calendar"></span>
                        <h3 class="h4">Соблюдаем сроки</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="heading">
        <h2 class="h2">Наши услуги</h2>
        <div class="divider"></div>
        <h3 class="h4">Мы можем предложить различные варианты как отделки, так и отдельные виды работ</h3>
    </div>
    <div class="container">
        {% for service in services %}
            <div class="service col-sm-6 col-md-4">
                <span class="service_caption">
                    <h3>{{ service.title }}</h3>
                    {% for section in service.sections %}
                    {% if loop.first %}
                        <div class="service_description">
                            <div class="divider"></div>
                            <h4 class="section_title">{{ section.title }}</h4>
                            <div class="section_description">
                                {{ section.description|md2html }}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </span>
                <a href="{{ path('show_service', {'slug': service.slug }) }}">
                    <img src="{{ vich_uploader_asset(service.photo, 'file') }}" alt="{{ service.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<section id="works">
    <div class="heading">
        <h2 class="h2">Портфолио</h2>
        <div class="divider"></div>
        <h3 class="h4"></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="works_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner" role="listbox">
                        <ol class="carousel-indicators">
                            {% for work in works %}
                            <li data-target="#works_carousel" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        {% for work in works %}
                        <div class="item {% if loop.first %}active{% endif %}">
                                <a href="{{ path('show_work', {'slug': work.slug }) }}">
                                    <img src="{{ vich_uploader_asset(work.photo, 'file') }}" alt="{{ work.title }}">
                                    <div class="carousel-caption">
                                        <h3>{{ work.title }}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="left carousel-control" href="#works_carousel" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="right carousel-control" href="#works_carousel" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="call_measurer">
    <div class="heading">
        <h2 class="h2">Вызвать замерщика</h2>
        <div class="divider"></div>
        <h3 class="h4">Оставьте онлайн заявку на вызов специалиста</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#call_form">
                    Вызвать замерщика
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
<style>
    #jumbotron {
        {% if about.photo %}
            background-image: url("{{ vich_uploader_asset(about.photo, 'file') }}");
        {% else %}
            background: #fff;
        {% endif %}
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}
