{% extends 'base.html.twig' %}

{% block main %}
<section id="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron col-md-6 col-md-offset-3">
                <h1>Студия Буржуа</h1>
                <p>Мы предлагаем услуги, включающие в себя все работы по частичному ремонту и ремонту "под ключ"</p>
                <a href="{{ path('aboutpage') }}" class="btn btn-default btn-lg">О компании</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="heading">
        <h1 class="h2">Наши услуги</h1>
        <div class="divider"></div>
        <h2 class="h4">Мы предлагаем услуги включающие в себя все работы по частичному ремонту и ремонту "под ключ"</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for service in services %}
                <div class="service col-md-4 col-sm-6">
                    <span class="service_caption">
                        <h3>{{ service.title }}</h3>
                        {% for section in service.sections %}
                        {% if loop.first %}
                            <div class="service_description">
                                <h4 class="section_title">{{ section.title }}</h4>
                                <div class="section_description">
                                    {{ section.description|raw }}
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </span>
                    <a href="{{ path('show_service', {'slug': service.slug }) }}">
                        <img src="{{ vich_uploader_asset(service.photo, 'file') }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="works">
    <div class="heading">
        <h1 class="h2">Выполненные работы</h1>
        <div class="divider"></div>
        <h2 class="h4">Вот что мы могём</h2>
    </div>
    <div class="container">
        <div id="works_carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <ol class="carousel-indicators">
                    {% for work in works %}
                    <li data-target="#works_carousel" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                {% for work in works %}
                <div class="item {% if loop.first %}active{% endif %}">
                        <a href="{{ path('show_work', {'slug': work.slug }) }}">
                            <img src="{{ vich_uploader_asset(work.photo, 'file') }}">
                            <div class="carousel-caption">
                                <h3>{{ work.title }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#works_carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#works_carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section id="call_measurer">
    <div class="heading">
        <h1 class="h2">Вызвать замерщика</h1>
        <div class="divider"></div>
        <h2 class="h4">Оставьте вашу заявку</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#call_form">
                    Вызвать замерщика
                </button>
            </div>
        </div>
        {{ include('partials/call_form.html.twig') }}
    </div>
</section>
{% endblock %}

{% block stylesheets %}
{# styles for landing photo at least #}
{% endblock %}
