<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Администратор - Студия Буржуа</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% stylesheets '@AppBundle/Resources/styles/admin/*css.scss' filter='sass' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% javascripts '@AppBundle/Resources/js/admin/*js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body class="container-fluid">
        <div class="row">
            <header>
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin_header_menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="/" class="navbar-brand" title="Перейти на сайт">
                                Студия Буржуа
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="admin_header_menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        Выход
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            {{ render(controller('AppBundle:AdminDefault:aside')) }}

            <main role="main" class="col-sm-8 col-md-9">
                {% for message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block main %}{% endblock %}
            </main>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
