<aside class="col-sm-4 col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown" id="zayavki_link">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true" aria-expanded="false" href="#">
                Заявки
                {% if newRequestsCount > 0 %}
                    <span class="badge"> {{ newRequestsCount }}</span>
                {% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('admin_new_requests') }}">
                        Новые <span class="badge"> {{ newRequestsCount }}</span>
                    </a>
                </li>
                <li><a href="{{ path('admin_archived_requests') }}">Архив</a></li>
            </ul>
        </li>
        <li id="uslugi_link">
            <a href="{{ path('admin_services') }}">Услуги</a>
        </li>
        <li id="vipolnyenniye-raboti_link">
            <a href="{{ path('admin_works') }}">Выполненные работы</a>
        </li>
        <li id="o-kompanii_link">
            <a href="{{ path('admin_about') }}">О компании</a>
        </li>
        <li id="aktsii_link">
            <a href="{{ path('admin_discounts') }}">Акции</a>
        </li>
        <li id="tsyeni_link">
            <a href="{{ path('admin_prices') }}">Цены</a>
        </li>
        <li id="kontakti_link">
            <a href="{{ path('admin_contacts') }}">Контакты</a>
        </li>
    </ul>
</aside>
