<aside class="col-sm-4 col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true" aria-expanded="false" href="#">
                Заявки
                {% if newRequestsCount > 0 %}
                    <span class="badge"> {{ newRequestsCount }}</span>
                {% endif %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('admin_new_requests') }}">
                        Новые
                        {% if newRequestsCount > 0 %}
                            <span class="badge"> {{ newRequestsCount }}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a href="{{ path('admin_archived_requests') }}">Архивированные</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('admin_services') }}">Услуги</a>
        </li>
        <li><a href="{{ path('admin_works') }}">Выполненные работы</a></li>
        <li><a href="{{ path('admin_about') }}">О компании</a></li>
        <li><a href="{{ path('admin_contacts') }}">Контакты</a></li>
        <li><a href="{{ path('admin_profile') }}">Профиль</a></li>
    </ul>
</aside>
