{{ form_start(form) }}
    <a id="cancel_section_link_{{ section.id }}" class="btn btn-link text-danger pull-right" data-confirm-remote="Отменить создание нового абзаца?" href="#" title="Отменить создание абзаца">
        Отмена
    </a>
    {{ form_row(form.title) }}

    {# text in popovers #}
    {% set boldText = "<p>Выделите жирный текст ** с обеих сторон</p><p>обычный текст **<strong>жирный текст</strong>**</p>" %}
    {% set italicText = "<p>Ограничьте текст курсивом _ с обеих сторон</p><p>обычный текст _<em>текст курсивом</em>_</p>" %}
    {% set header = "<p>Для создания заголовка поместите перед текстом #</p><h3># Заголовок</h3>" %}
    {% set unorderedList = "<p>* один</p><p>* два</p><p>* три</p>" %}
    {% set orderedList = "<p>1. один</p><p>2. два</p><p>3. три</p>" %}
    {% set quote = "<p>Чтобы вставить цитату, поставьте > перед ней</p><p>> какая-то цитата</p><p>Результат:</p><blockquote>какая-то цитата</blockquote>" %}
    {% set link = "<p>Ссылка строится по следующей формуле:</p><p> [текст](адрес ссылки)</p><p>Пример:</p><p>перейдите по [ссылке](http://студия-буржуа.рф)</p><p>Результат:</p>перейдите по <a href='http://студия-буржуа.рф'>ссылке</a>" %}
    {% set lineBreak = "Для переноса строки, оставляйте 2 пробела после или пустую строку нее" %}

    <div class="section_description {% if section.category.type == 'work' %}hidden{% endif %}">
        <div class="edit_description_bar">
            <a type="button" class="btn btn-default" data-toggle="popover" title="Жирный" data-content="{{ boldText }}">
                <span class="fa fa-bold"></span>
            </a>
            <a type="button" class="btn btn-default" data-toggle="popover" title="Курсив" data-content="{{ italicText }}">
                <span class="fa fa-italic"></span>
            </a>
            <a type="button" class="btn btn-default" data-toggle="popover" title="Заголовок" data-content="{{ header }}">
                <span class="fa fa-header"></span>
            </a> |
            <a type="button" class="btn btn-default" data-toggle="popover" title="Маркированный список" data-content="{{ unorderedList }}">
                <span class="fa fa-list-ul"></span>
            </a>
            <a type="button" class="btn btn-default" data-toggle="popover" title="Нумерованный список" data-content="{{ orderedList }}">
                <span class="fa fa-list-ol"></span>
            </a> |
            <a type="button" class="btn btn-default" data-toggle="popover" title="Цитата" data-content="{{ quote }}">
                <span class="fa fa-quote-left"></span>
            </a>
            <a type="button" class="btn btn-default" data-toggle="popover" title="Ссылка" data-content="{{ link }}">
                <span class="fa fa-link"></span>
            </a> |
            <a type="button" class="btn btn-default" data-toggle="popover" title="Переход на новую строку" data-content="{{ lineBreak }}">
                <span class="fa fa-chevron-down"></span>
            </a> |
            <a href="https://ru.wikipedia.org/wiki/Markdown" class="btn btn-default" target="_blank">
                <span class="fa fa-info-circle"></span>
                Справка о языке разметки
            </a>
        </div>
        {{ form_widget(form.description) }}
    </div>

    <a id="new_photo_link_{{ section.id }}" class="btn btn-success new_photo_link pull-right" href="#">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить фото
    </a>
    <h2>
        {{ form_label(form.photos) }}
        <span class="badge" id="section_{{ section.id }}_photos_count">{{ section.photos|length }}</span>
    </h2>
    <div class="row" id="section_{{ section.id }}_photos">
        {% if form.photos|length > 0 %}
            {% for photo in form.photos %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="{{ path('admin_delete_photo', { 'id': photo.vars.value.id }) }}" class="btn btn-link text-danger pull-right" id="delete_photo_link_{{ photo.vars.value.id }}" data-confirm-remote='Удалить "{{ photo.vars.value.title }}"?' title="Удалить фото">
                        Удалить
                    </a>
                    {{ form_row(photo.title) }}
                    {{ form_row(photo.description) }}
                    {% if photo.vars.value.filename %}
                        <p class="h4"><span class="label label-primary">
                            {{ photo.vars.value.filename }}
                        </span></p>
                    {% else %}
                        <p class="h4"><span class="label label-danger">
                            !!!ФОТО НЕ ПРИКРЕПЛЕНО!!!
                        </span></p>
                    {% endif %}
                    {{ form_widget(photo.file) }}
                    <hr>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>
    <div class="hidden">
        {{ form_row(form.photos) }}
    </div>
{{ form_end(form) }}
<hr>

{% block javascripts %}
<script>
    {{ include('admin/partials/common_form_js.js') }}
 
    var cancelSectionLink = $('#cancel_section_link_{{ section.id }}');
    if (cancelSectionLink.parent().parent().hasClass('edit_section_form')) {
        cancelSectionLink.css('display', 'none');
    }

    cancelSectionLink.on('click', function(e) {
        e.preventDefault();
        var confirmation = confirm($(this).data('confirm-remote'));
        if (confirmation == true) {
            var sectionContainer = $(this).parent();
            $.ajax({url: "{{ path('admin_delete_section', { 'id': section.id }) }}",
                success: function(result) {
                    sectionContainer.replaceWith(result)
                }, error: function(error) {
                    alert(error.error);
                } });
        }
    });

    $('#new_photo_link_{{ section.id }}').on('click', function(e) {
        e.preventDefault();
        $.ajax({url: "{{ path('admin_new_photo', { 'sectionId': section.id }) }}",
            success: function(result) {
                $('#section_{{ section.id }}_photos').append(result);
            }, error: function(error) {
                alert(error.error);
            }
        });
    });

    {% for photo in section.photos %}
        {% set photoId = photo.id %}
        $('#delete_photo_link_{{ photoId }}').on('click', function(e) {
            e.preventDefault();
            var confirmation = confirm($(this).data('confirm-remote'));
            if (confirmation == true) {
                var photoContainer = $(this).parent();
                $.ajax({url: "{{ path('admin_delete_photo', { 'id': photoId }) }}",
                    success: function(result) {
                        photoContainer.html(result);
                        var photosCountContainer = $('#section_{{ section.id }}_photos_count');
                        var decrementedCount = Number(photosCountContainer.html()) - 1;
                        photosCountContainer.html(String(decrementedCount));
                    }, error: function(error) {
                        alert(error.error);
                    } });
            }
        });
    {% endfor %}

    $('.edit_description_bar a').popover({'placement':'top', 'html':'true'});
</script>
{% endblock %}
