{{ form_start(form) }}
{{ form_row(form.title) }}
<div class="section_description">
    <div class="edit_description_bar">
        <span class="glyphicon glyphicon-bold"></span>
        <span class="glyphicon glyphicon-italic"></span>
        <span class="glyphicon glyphicon-header"></span>
        <span class="glyphicon glyphicon-list"></span>
    </div>
    {{ form_widget(form.description) }}
</div>

<h2>{{ form_label(form.photos) }}</h2>
<div class="row" id="photos_{{ section.id }}">
    {% if form.photos|length > 0 %}
        {% for photo in form.photos %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                {{ form_row(photo.title) }}
                {{ form_row(photo.description) }}
                {{ form_widget(photo.file) }}
                <a href="{{ path('admin_delete_photo', { 'id': photo.vars.value.id }) }}" class="btn btn-danger" id="delete_photo_link_{{ photo.vars.value.id }}" data-confirm="Удалить?">
                    Удалить
                </a>
                <hr>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
</div>
<div class="hidden">
    {{ form_row(form.photos) }}
</div>
{{ form_end(form) }}
<hr>
