{% extends 'base.html.twig' %}

{% block title %}Услуги - {{ service }} - {{ parent() }}{% endblock %}

{% block main %}
<div id="page_header">
    <h1>{{ service|upper }}</h1>
</div>

<section class="subsection container">
    <div class="heading">
        <h1 class="h2">Ремонт офисных помещений:</h1>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8">
            <p>Ваша организация решила произвести ремонт в своем офисе? Это достаточно серьезное и значимое событие, ведь внутренняя обстановка в офисе значительно влияет и на настроение самих сотрудников, и на внутренние ощущения ваших клиентов. К тому же перемены в обстановке могут создать толчок к улучшению результатов вашей деятельности и повышению производительности труда. Поэтому важно серьезно отнестись к процессу ремонта офиса и доверить его специализированной компании.</p>
        </div>
        <div class="col-md-6 col-sm-4">
            <img src="http://студия-буржуа.рф/assets/galleries/9/1.jpg" alt="{{ service }}">
        </div>
    </div>
</section>

<section class="subsection container">
    <div class="heading">
        <h1 class="h2">Признаки безупречного ремонта:</h1>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-md-push-6 col-sm-push-4">
            <ul>
                <li>удобные сроки выполнения;</li>
                <li>грамотная, качественная работа без малейших недостатков;</li>
                <li>размер оплаты четко установлен и прописан в договоре;</li>
                <li>нет необходимости постоянно контролировать процесс, вы можете заниматься своими делами;</li>
                <li>устраивающий Вас результат;</li>
                <li>работы были произведены «Студией Буржуа»;</li>
                <li>получена комплексная гарантия на все работы.</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-4 col-md-pull-6 col-sm-pull-8">
            <img src="http://студия-буржуа.рф/assets/galleries/9/6.jpg" alt="{{ service }}">
        </div>
    </div>
</section>

<section class="subsection container">
    <div class="heading">
        <h1 class="h2">Получить удовольствие от ремонта офиса легко!</h1>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8">
            <p>Достаточно заказать выполнение ремонтных работ у нас. Специалисты «Студия Буржуа» сделают всю основную и сопутствующую работу: разработают дизайн-проект помещения, согласуют проект перепланировки, оптимально подберут материалы, произведут основные работы, вывезут мусор и осуществят уборку офиса. Вам же остается заехать в отремонтированный, чистый и убранный офис и получать положительные эмоции от изменений, произошедших в жизни вашей фирмы.</p>
            <p>Сделайте звонок по телефону  (8313)23-46-46 . Также вы можете оставить онлайн заявку на вызов специалиста по составлению сметы. Об остальном позаботится «Студия Буржуа».</p>
        </div>
        <div class="col-md-6 col-sm-4">
            <img src="http://студия-буржуа.рф/assets/galleries/9/remont_offis.jpg" alt="{{ service }}">
        </div>
    </div>
</section>
{% endblock %}
