{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        {{ type }} заявки <span class="badge">{{ requests|length }}</span>
    </h1>

    {% if requests|length == 0 %}
        <div class="alert alert-success">{{ type }} заявки отсутствуют</div>
    {% else %}
        <div class="list-group">
            {% for request in requests %}
                <div class="list-group-item">
                    <h2 class="h3 entity_header">
                        {% if type == "Новые" %}
                            <form class="pull-right">
                                <button class="btn btn-link" style="padding-top: 3px">Архивировать</button>
                            </form>
                            <span class="label label-success pull-right">Новая</span>
                        {% else %}
                            <span class="label label-default pull-right">Обработана</span>
                        {% endif %}
                        {{ request.name }}
                    </h2>
                    <div class="entity_body">
                        <h3 class="h4">Дата:
                            <small>{{ request.createdAt.format('d-m-Y') }}</small>
                        </h3>
                        <h3 class="h4">Адрес:
                            <small>{{ request.address }}</small>
                        </h3>
                        <h3 class="h4">Телефон:
                            <small>{{ request.phoneNumber }}</small>
                        </h3>
                        <h3 class="h4">Комментарий:</h3>
                        <blockquote>
                            {{ request.comment }}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
