{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        Контакты <span class="badge">{{ internetCount + realCount }}</span>
    </h1>

    <a id="new_entity_link" class="btn btn-primary btn-lg" href="{{ path('admin_new_contact') }}">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить новый контакт
    </a>

    <form class="pull-right">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-earphone"></span>
                    Выбрать главный номер
                </button>
            </span>
            <div class="form-group" style="margin-bottom: 0">
                <label for="main_phone_number"></label>
                <select id="main_phone_number" class="form-control">
                    {% for contact in realContacts %}
                        <option>{{ contact.mainPhone }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <section id="admin_internet_contacts" class="col-md-6">
            <h2 class="h2">
                Интернет контакты <span class="badge">{{ internetCount }}</span>
            </h2>
            <div class="list-group">
                {% for contact in internetContacts %}
                    <div class="list-group-item">
                        <h3 class="h3 entity_header">
                            {{ contact.title }}
                        </h3>
                        <div class="entity_body">
                            <a href="{{ path('admin_edit_internet_contact', { 'id': contact.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Редактировать
                            </a>
                            <a href="{{ path('admin_delete_internet_contact', { 'id': contact.id }) }}" class="btn btn-danger pull-right" data-confirm='Удалить "{{ contact.title }}"?'>
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="admin_real_contacts" class="col-md-6">
            <h2 class="h2">
                Адреса <span class="badge">{{ realCount }}</span>
            </h2>
            <div class="list-group">
                {% for contact in realContacts %}
                    <div class="list-group-item">
                        <h3 class="h3 entity_header">
                            {{ contact.title }}
                        </h3>
                        <div class="entity_body">
                            <a href="{{ path('admin_edit_real_contact', { 'id': contact.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Редактировать
                            </a>
                            <a href="{{ path('admin_delete_real_contact', { 'id': contact.id }) }}" class="btn btn-danger pull-right" data-confirm='Удалить "{{ contact.title }}"?'>
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
