{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        Контакты <span class="badge">{{ internetCount + realCount }}</span>
    </h1>

    {{ include('admin/partials/help_section.html.twig', {'text': help, 'title': "Контакты"}) }}
    <a id="new_entity_link" class="btn btn-primary btn-lg" href="{{ path('admin_new_contact') }}">
        <span class="glyphicon glyphicon-plus"></span>
        Добавить новый контакт
    </a>

    <form id="main_phone_form" class="pull-right" method="post" action="{{ path('admin_main_phone') }}">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-earphone"></span>
                Номер для онлайн звонка
            </span>
            <select id="number" class="form-control" name="number">
                {% if mainPhoneAbsent %}
                    <option>(не выбран)</option>
                {% endif %}
                {% for contact in realContacts %}
                    {% set number = contact.mainPhone %}
                    {% if contact.isMainPhone %}
                        <option value="{{ number }}" selected="selected">
                    {% else %}
                        <option value="{{ number }}">
                    {% endif %}
                        {{ number }} ({{ contact.title }})
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="row">
        <section id="admin_internet_contacts" class="col-md-6">
            <h2 class="h2">
                Интернет контакты <span class="badge">{{ internetCount }}</span>
            </h2>
            <div class="list-group">
                {% for contact in internetContacts %}
                    <div class="list-group-item">
                        <h3 class="h3 entity_header">
                            {{ contact.title }}
                        </h3>
                        <div class="entity_body">
                            <a href="{{ path('admin_edit_internet_contact', { 'id': contact.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Редактировать
                            </a>
                            <a href="{{ path('admin_delete_internet_contact', { 'id': contact.id }) }}" class="btn btn-danger pull-right" data-confirm='Удалить "{{ contact.title }}"?'>
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="admin_real_contacts" class="col-md-6">
            <h2 class="h2">
                Адреса <span class="badge">{{ realCount }}</span>
            </h2>
            <div class="list-group">
                {% for contact in realContacts %}
                    <div class="list-group-item">
                        <h3 class="h3 entity_header">
                            {{ contact.title }}
                        </h3>
                        <div class="entity_body">
                            <a href="{{ path('admin_edit_real_contact', { 'id': contact.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Редактировать
                            </a>
                            <a href="{{ path('admin_delete_real_contact', { 'id': contact.id }) }}" class="btn btn-danger pull-right" data-confirm='Удалить "{{ contact.title }}"?'>
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $('#main_phone_form select').on('change', function() {
        $(this).parents('form').submit();
    });
</script>
{% endblock %}
